#titleText {
    -fx-font-size: 50px;
    -fx-font-family: "Arial Black";
    -fx-fill: coral;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}
#mainPane{
    -fx-background-image: url("background.jpeg");
}

.label {

    -fx-font-family: cursive;
    -fx-fill: #50ffad;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

#addButton,#editButton,#viewAllButton,#deleteButton,#purchaseButton {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#00ccff, #DF1111);
}