#mainPane{
    -fx-background-image: url("background.jpeg");
}

#addButton,#editButton,#viewAllButton,#deleteButton,#purchaseButton {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#00ccff, #DF1111);
}